<section id="tmWelcome" class="parallax-window">
  <div class="container-fluid tm-brand-container-outer">
    <div class="row">
      <div class="col-12">
        <!-- Logo Area -->
        <!-- Black transparent bg -->
        <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
          <div class="tm-brand-container text-center">
            <h1 class="tm-brand-name">Nguyễn Đức Vượng</h1>
            <p class="tm-brand-description mb-0">Java Fresher</p>
          </div>
        </div>
        <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/vuongcuti-6ce58.appspot.com/o/avatar.jpg?alt=media&token=5816f60f-b4fe-4fde-8514-4f9f5dade10c">
          <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-evenly" style="width: 240px">
              <a href="https://www.facebook.com/nguyenvuong.0912"><i class="fa-brands fa-facebook"></i></a>
              <a href="#ducvuong.269@gmail.com"><i class="fa-brands fa-google"></i></a>
              <a href="https://github.com/NguyenVuong2609"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tm-bg-white-transparent tm-welcome-container">
    <div class="container-fluid">
      <div class="row h-100">
        <!-- Welcome Text -->
        <!-- White transparent bg -->
        <div class="col-md-7 tm-welcome-left-col">
          <div class="tm-welcome-left">
            <h2 class="tm-welcome-title">Welcome to My Profile Page</h2>
            <p class="pb-0">
              My full name is Nguyen Duc Vuong, Web Developer Full-stack. I have knowledge about HTML, CSS, JavaScript
              JavaCore, SpringMVc, Spring Boot, My Sql, ReactJS, Angular.
            </p>
          </div>
        </div>
        <!-- Brown bg -->
        <div class="col-md-5">
          <div class="tm-welcome-right">
            <i class="fas fa-4x fa-address-card p-3 tm-welcome-icon"></i>
            <div class="mb-0"><i class="fa-regular fa-calendar-days"></i> Birthday : 09-12-1993</div>
            <div class="mb-0"><i class="fa-solid fa-user"></i> Gender: Male</div>
            <div class="mb-0"><i class="fa-solid fa-phone"></i> Mobile phone: 0976.106.636</div>
            <div class="mb-0"><i class="fa-solid fa-address-book"></i> Address: Lac Long Quan - Tay Ho - Ha Noi</div>
            <div class="mb-0"><i class="fa-brands fa-google"></i> Gmail: ducvuong.269@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Welcome section -->

<!-- Portfolio section -->
<section id="tmPortfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="tm-portfolio-item">
          <div class="tm-portfolio-name text-white tm-bg-green">My Abilities</div>
          <div class="tm-portfolio-description">
            <label>HTML, CSS, JS</label>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
                   aria-valuemin="0" aria-valuemax="100" style="width:70%">
              </div>
            </div>
            <label>Java core</label>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
                   aria-valuemin="0" aria-valuemax="100" style="width:70%">
              </div>
            </div>
            <label>Spring Boot</label>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
                   aria-valuemin="0" aria-valuemax="100" style="width:65%">
              </div>
            </div>
            <label>MySql</label>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
                   aria-valuemin="0" aria-valuemax="100" style="width:80%">
              </div>
            </div>
            <label>Angular, ReactJS</label>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
                   aria-valuemin="0" aria-valuemax="100" style="width:50%">
              </div>
            </div>
            <label>Github</label>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
                   aria-valuemin="0" aria-valuemax="100" style="width:70%">
              </div>
            </div>
          </div>
        </div>

        <mat-card>
          <div class="row">
            <div class="col-12">
              <h2>My project</h2>
            </div>
          </div>
        </mat-card>
        <div class="tm-portfolio-item">
          <div class="tm-portfolio-name text-white tm-bg-orange">
            Entertainment Project
          </div>
          <div class="tm-portfolio-description">
            <h3 class="tm-text-orange">
              Youtube clone
              <span class="tm-title-small">(14/5/2023-21/5/2023)</span>
            </h3>
            <div class="mb-0">
              <ul>
                <li>Project's team (3 members)</li>
                <li>My role: Captain</li>
                <li>Github: <a href="https://github.com/NguyenVuong2609/MD4_V2M_Youtube_Fake_ProjectTeam"> https://github.com/NguyenVuong2609/MD4_V2M_Youtube_Fake_ProjectTeam</a></li>
                <li>Technologies: JSP Servlet, HTML, CSS, MySQL, Firebase</li>
              </ul>

            </div>
          </div>
        </div>

        <div class="tm-portfolio-item">
          <div class="tm-portfolio-name text-white tm-bg-blue">
            Car Management
          </div>
          <div class="tm-portfolio-description">
            <h3 class="tm-text-blue">
              Parkinglot Simulator
              <span class="tm-title-small">(02/4/2023-03/4/2023)</span>
            </h3>
            <div class="mb-0">
             <ul>
               <li>Personal project</li>
               <li>Github: <a href="https://github.com/NguyenVuong2609/Project-MD3-JAVA-ParkingLotSimulator">https://github.com/NguyenVuong2609/Project-MD3-JAVA-ParkingLotSimulator</a></li>
               <li>Technologies: Java</li>
             </ul>
            </div>
          </div>
        </div>

        <div class="tm-portfolio-item">
          <div class="tm-portfolio-name text-white tm-bg-dark-gray">
            Blog Project
          </div>
          <div class="tm-portfolio-description">
            <h3 class="tm-text-dark-gray">
              Healthcare Blog
              <span class="tm-title-small">
                    (12/02/2023-19/02/2023)
                  </span>
            </h3>
            <div class="mb-0">
              <li>Personal project</li>
              <li>Github: <a href="https://github.com/NguyenVuong2609/Project-redux-heatlhcare">https://github.com/NguyenVuong2609/Project-redux-heatlhcare</a></li>
              <li>Technologies: ReactJS, Redux, HTML, CSS, JSON-Server, Mock-API</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End portfolio section -->

<!-- Contact section -->
<div id="tmContact" class="parallax-window" data-parallax="scroll"
     data-image-src="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="tm-contact-items-container">
          <div class="tm-contact-item">
            <i class="fa-solid fa-5x fa-heart tm-contact-item-icon"></i>
            <h3>Interest</h3>
            <div class="mb-0">
              <ul>
                <li>Sports</li>
                <li>Music</li>
                <li>Animals</li>
                <li>Coding</li>
              </ul>
            </div>
          </div>
          <div class="tm-contact-item">
            <i class="fa-solid fa-5x fa-graduation-cap tm-contact-item-icon"></i>
            <h3>Education</h3>
            <div class="mb-0">
              <ul>
                <li>October 2022 - June 2023: Study Information technology at Rikkei Academy (Web Fullstack)</li>
                <li>2013 - 2018: Bachelor of Laws at Hanoi Law University</li>
                <li>2011 - 2015: Bachelor of Bank and Financial at HUBT</li>
              </ul>
            </div>
          </div>

          <div class="tm-contact-item">
            <i class="fa-solid fa-5x fa-briefcase tm-contact-item-icon"></i>
            <h3>Works</h3>
            <div class="mb-0">
              <ul>
                <li>June 2023 - Now: Freelancer - Web developer Fullstack</li>
                <li>2020 - October 2022: Sales at Tuan123 real estate company</li>
                <li>2015 - 2020: Sales Management (Hanoi zone) at LADODA company</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <form
          action="index.html"
          method="POST"
          id="tmContactForm"
          class="tm-bg-white-transparent"
        >
          <div class="form-group">
            <input
              type="text"
              id="contact_name"
              name="contact_name"
              class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
              placeholder="Name"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              id="contact_email"
              name="contact_email"
              class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
                <textarea
                  rows="4"
                  id="contact_message"
                  name="contact_message"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Message"
                  required
                ></textarea>
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn tm-btn-submit rounded-0 text-white"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <footer class="col-12">
        <p class="text-center tm-copyright-text">
          Nguyen Vuong - 2023</p>
      </footer>
    </div>
  </div>
  <!-- container -->
</div>
